*{
    margin: 0;
    padding: 0;
}
.continer{
    max-width: 1000px;
    margin: 0 auto;
    
}
h2{
    text-align: center;
}
.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgba(26, 24, 24, 0.726);
    transition: 0.3s;
    font-size: 0px;
}
.card:hover{
    box-shadow: 0px 4px 8px 0px black;
}
.card-head input{
    width: 345px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 2px;
    
}
.btn{
    width: 87px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(24, 22, 22, 0.74);
    color: white;

}
.btn:hover{
    background-color: rgb(211, 128, 211);
    color: rgba(255, 255, 255, 0.842);
}
.btn-style1{
    width: 87px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(71, 97, 18);
    color: white;
}
.btn-style1:hover{
    background-color: rgb(211, 128, 211);
}
.btn-style2{
    width: 87px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(112, 69, 26);
    color: white;
}
.btn-style2:hover{
    background-color: rgb(211, 128, 211);
}